
@(observation: Observation, whaleForm: Form[WhaleData])(implicit request: Http.Request, messages: play.i18n.Messages)

@section(observation: Observation)= {
    <section id="obsDetail">
        <h1 class="center">Observation Table</h1><hr/>
        <p class="center">
        A summary of observation list @observation.getId is given below.
            Each whale has an info card with information on its characteristics.
            Add additional whales to the Observation through the unknown whale form.
        </p>
        <section class="obsInfo">

            @views.html.observationTable(Collections.singletonList(observation))

        </section>

        <section class="card-group">
            @observation.getWhales.map(x => views.html.panel(observation, x))
            @views.html.whaleForm(observation, whaleForm)
        </section>
    </section>
}

@htmlHeader(section(observation))
