
@(observation: Observation, whaleForm: Form[WhaleData])(implicit request: Http.Request, messages: play.i18n.Messages)

@section(whaleForm: Form[WhaleData]) = {
    @helper.form(routes.WhaleController.handleResult(obsId = observation.getId)) {
    @helper.CSRF.formField
    @helper.inputText(whaleForm("species"))
    @helper.inputText(whaleForm("weight"))
    @helper.select(whaleForm("gender"),  _root_.utils.FormUtils.doubleString(WhaleData.genderOptions()))
    <input type="submit"/>
    }
}
    @optionBuild(gender: String) = {
        <option value="@gender" >@gender</option>
    }

@panelVersion(whaleForm: Form[WhaleData])={
    <div class="panel">
        <div class="image-wrapper">
            <img src="/assets/images/unknown.png"  alt="unknown whale"/>
        </div>
        <form action="@routes.WhaleController.handleResult(obsId = observation.getId)" method="POST">
            @helper.CSRF.formField
            <h1 class="title"><input type="text" id="species" name="species" placeholder="Species" value=""></h1>
            <div class="whale_info">
                <div>Estimated Weight: <input type="text" id="estimatedWeight" name="estimatedWeight" placeholder="Min. 0" value="">kg </div>
            </div>
            <div class="whale_info">
                <div>Gender: <span class="selectedGender"></span>
                    <select id="gender" name="gender" >
                        @WhaleData.genderOptions().asScala.map(x => optionBuild(x))
                    </select>
                </div>
            </div>
            <div class= "whale_info"> <input type="submit"/></div>
        </form>
    </div>
}

@panelVersion(whaleForm)