@import java.util

@import java.util.function.BiPredicate
@(observations: util.List[Observation], filterFunction: BiPredicate[Observation, Whale], searchForm: Form[SearchData])(implicit request: Http.Request, messages: play.i18n.Messages)

@section(observations: util.List[Observation]) = {
    @search(searchForm)


    @if(!observations.isEmpty) {
        <p>The columns in the table below are sortable. Click anywhere on the blue heading to sort whales
            using the data in that column. Clicking the same header again will reverse the sorting direction.
            Clicking on a row will take you to the observation that the whale belongs to.
        </p>
        @whaleTable(observations, filterFunction)
    }
}

@htmlHeader(section(observations))